<div class="container-fluid main-div h-100">
  <div class="inner-div bg-warning h-100">
      <div class="menu">
        <a href="javascript:void(0);" class="icon menu-bar" (click)="barsClicked()" *ngIf="!displayMenu">
          <i class="fa fa-bars fa-lg"></i>
        </a>
        <div class="menu-submenu" *ngIf="displayMenu">
          <ul class="list-unstyled">
            <li><a href="#news">Tiles</a></li>
            <li><a href="#news">Wood</a></li>
            <li><a href="#news">Paint</a></li>
            <li><a href="#news">Appliances</a></li>
          </ul>
         </div>
      </div>
      <div class="cross-icon" *ngIf="displayMenu">
        <i class="fa fa-times fa-lg" (click)="hideMenu()"></i>
      </div>
      <div class="generic-house">
        <img alt="A Generic House" src="../assets/houses-and-woods/generic-house-image.jpg">
      </div>
      <!-- <div class="houses-div"> 
        <div class="mountain-house">
          <img alt="The Mountain House" src="../assets/houses-and-woods/mountain-house.jpg">
        </div>
        <div class="beach-house">
          <img alt="The Beach House" src="../assets/houses-and-woods/beach-house.jpg">
        </div>
        <div class="forest-house">
          <img alt="The Forest House" src="../assets/houses-and-woods/forest-house.jpg">
        </div>
        <div class="underground-house">
          <img alt="The Underground House" src="../assets/houses-and-woods/underground-house.jpg">
        </div>
      </div> -->
  </div>
</div>

<router-outlet></router-outlet>
