.custom-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.mt-1 {
    margin-top: 0.5rem;
}

.main-div {
    padding: 1rem !important;
    .inner-div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        .menu {
            grid-column: 1/6;
            a {
                padding: 0.25rem;
            }
            .menu-bar {
                // display: none;
            }
            .menu-submenu {
                height: 100%;
                width: 100%;
                ul {
                    width: 50%;
                }
                background-color: white;
            }
        }
        .cross-icon {
            padding-left: 0.5rem;
        }
        .generic-house {
            grid-column: 9/13;
        }
        .dream-house {
            grid-column: 1/13;
            text-align: center;
        }
        .mountain-house {
            grid-column: 2/6;
            grid-row: 3/5;
        }
        .beach-house {
            grid-column: 8/12;
            grid-row: 3/5;
        }
        .forest-house {
            grid-column: 2/6;
            grid-row: 6/8;
        }
        .underground-house {
            grid-column: 8/12;
            grid-row: 6/8;
        }
    }
    
    // wood types
    .wood-types {
        .wood-type-heading {
            grid-column: 1/13;
            grid-row: 1/2;
            text-align: center;
        }
        .pine-wood {
            grid-column: 2/6;
        }
        .cherry-wood {
            grid-column: 2/6;
        }
        .mahogany-wood {
            grid-column: 8/12;
        }
        .cedar-wood {
            grid-column: 8/12;
            grid-row: 2;
        }
    }
    // contact-form
    .contact-form {
        grid-template-rows: repeat(8, 1fr);
        .contact-us-heading {
            grid-column: 1/13;
            grid-row: 2/3;
            text-align: center; 
        }
        .contact-us-form {
            grid-column: 4/10;
            grid-row: 3/8;
            text-align: center;
        }
    }
}