<div class="container-fluid main-div h-100">
  <div class="inner-div bg-warning h-100">
      <div class="menu">
        <a href="javascript:void(0);" class="icon menu-bar" (click)="barsClicked()" *ngIf="!displayMenu">
          <i class="fa fa-bars fa-lg"></i>
        </a>
        <div class="menu-submenu" *ngIf="displayMenu">
          <ul class="list-unstyled">
            <li><a href="#news">Tiles</a></li>
            <li><a href="#news">Wood</a></li>
            <li><a href="#news">Paint</a></li>
            <li><a href="#news">Appliances</a></li>
          </ul>
         </div>
      </div>
      <div class="cross-icon" *ngIf="displayMenu">
        <i class="fa fa-times fa-lg" (click)="hideMenu()"></i>
      </div>
      <div class="generic-house">
        <img alt="A Generic House" src="../assets/houses-and-woods/generic-house-image.jpg">
      </div>
      <div class="dream-house">
        <span><b>Dream House</b></span>
      </div>
      <div class="mountain-house">
        <img alt="The Mountain House" src="../assets/houses-and-woods/mountain-house.jpg">    
        <label>Mountain House</label>
      </div>
      <div class="beach-house">
        <img alt="The Beach House" src="../assets/houses-and-woods/beach-house.jpg">
        <label>Beach House</label>
      </div>
      <div class="forest-house">
        <img alt="The Forest House" src="../assets/houses-and-woods/forest-house.jpg">
        <label>Forest House</label>
      </div>
      <div class="underground-house">
        <img alt="The Underground House" src="../assets/houses-and-woods/underground-house.jpg">
        <label>Underground House</label>
      </div>
  </div>

  <!-- Wood Types -->
  <div class="wood-types custom-grid bg-warning">
    <label class="wood-type-heading"><b>Types of wood</b></label>
    <div class="pine-wood">
      <img alt="Pine Wood" src="../assets/houses-and-woods/pine-wood.jpg" id="pine-wood-img">
      <label>Pine Wood</label>  
    </div>
    <div class="cherry-wood">
      <img alt="Cherry Wood" src="../assets/houses-and-woods/cherry-wood.jpg" id="cherry-wood-img">
      <label>Cherry Wood</label>  
    </div>
    <div class="mahogany-wood">
      <img alt="Mahogany Wood" src="../assets/houses-and-woods/mahogany-wood.jpg" id="mahogany-wood-img">
      <label>Mahogany Wood</label>  
    </div>
    <div class="cedar-wood">
      <img alt="Cedar Wood" src="../assets/houses-and-woods/cedar-wood.jpg" id="cedar-wood-img">
      <label>Cedar Wood</label>  
    </div>
  </div>

  <!-- contact form -->
  <div class="contact-form custom-grid bg-warning">
    <label class="contact-us-heading"><b>Contact Us</b></label>
    <div class="contact-us-form">
      <input class="mt-1" type="text" name="name" id="name" placeholder="Name">
      <input class="mt-1" type="email" name="email" id="email" placeholder="Email">
      <button class="mt-1">Submit</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
